<footer class="page-footer blue lighten-1">
  <div class="container">
    <div class="row">
      <div class="col s9 l9">
        <h5 class="white-text">Project Bio</h5>
        <p class="white-text" style="text-align:justify">University of Liverpool - COMP390 Honours Year Computer Science
          Project: </p>
        <p class="white-text" style="text-align:justify">Secure Multi-Party Computations with JIFF</p>
        <p class="white-text" style="text-align:justify">This project is aimed to design and implement a community-based
          web application which permits authenticated users to initiate and participate in MPC sessions within a
          group or under a topic. Therefore, users are able to truthfully participate in voting or
          survey without any concern and thus can obtain more objective and credible computation results.</p>
      </div>
      <div class="col s3 l3">
        <h5 class="white-text">More Info</h5>
        <ul>
          <li class="ft"><i class="fas fa-video"></i><a class="white-text" href="https://www.youtube.com/watch?v=P2MmO458xu4"> MPC
              Introduction Video</a></li></br>
          <li class="ft"><i class="fas fa-school"></i><a class="white-text" href="https://multiparty.org/"> MPC Knowledge</a></li>
          </br>
          <li class="ft"><i class="fas fa-network-wired"></i><a class="white-text" href="https://github.com/multiparty/jiff"> Web
              MPC Application API</a></li></br>
          <li class="ft"><i class="fas fa-warehouse"></i><a class="white-text" href="https://github.com/RblueskyT/OrcaMPC"> Project
              Repository</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p class="left hide-on-med-and-down">Developed by Zian Wang | Contact Me: rblueskyt@gmail.com</p>
      <p class="right hide-on-med-and-down">MPC functions powered by <a class="white-text"
          href="https://github.com/multiparty/jiff"><strong>JIFF library</strong></a></p>
    </div>
  </div>
</footer>