<footer class="page-footer grey lighten-5">
    <div class="footer-copyright">
        <div class="container">
            <p class="left grey-text">Welcome to the survey session of "{{truncate survey.surveyTitle 32}}"</p>
            <p class="right hide-on-med-and-down grey-text">MPC functions powered by <strong>JIFF library</strong></p>
        </div>
    </div>
</footer>