<ul id="slide-out" class="sidenav sidenav-fixed white">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="/assets/images/users/users_bg.jpeg">
            </div>
            <div class="center">
                <a><img class="circle" src="{{avatar}}"></a>
                <a><span class="light-blue-text text-darken-1 name">{{firstName}} {{lastName}}</span></a>
                <a><span class="light-blue-text text-darken-1 email">{{email}}</span></a>
            </div>
        </div>
    </li>
    <ul class="user_sidenav">
        <ul class="collapsible collapsible-accordion">
            <li id="level1">
                <a class="collapsible-header waves-effect waves-blue"><i id="expand1" style="color: #2196f3;"
                        class="fas fa-angle-right"></i><span class="black-text">Personal Space</span></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a class="waves-effect waves-blue" href="/users/dashboard"><span style="margin-left: 38px;"
                                    class="light-blue-text text-darken-1"><i
                                        class="fas fa-home"></i>&nbsp;Dashboard</span></a>
                        </li>
                        <li><a class="waves-effect waves-blue" href="/users/myprofile"><span style="margin-left: 40px;"
                                    class="light-blue-text text-darken-1"><i class="fas fa-id-badge"></i>&nbsp;Personal
                                    Profile</span></a>
                        </li>
                        <li><a class="waves-effect waves-blue" href="/users/changepassword"><span style="margin-left: 36px;"
                                    class="light-blue-text text-darken-1"><i class="fas fa-key"></i>&nbsp;Change
                                    Password</span></a>
                        </li>
                        <li><a class="waves-effect waves-blue" href="/users/notifications"><span
                                    style="margin-left: 38px;" class="light-blue-text text-darken-1"><i
                                        class="far fa-bell"></i>&nbsp;Notifications</span></a>
                        </li>
                        <li><a class="waves-effect waves-blue" href="/users/messages"><span style="margin-left: 38px;"
                                    class="light-blue-text text-darken-1"><i
                                        class="fas fa-envelope-open-text"></i>&nbsp;Message
                                    Box</span></a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <li>
            <div class="divider"></div>
        </li>
        <ul class="collapsible collapsible-accordion">
            <li id="level1">
                <a class="collapsible-header waves-effect waves-blue"><i id="expand1" style="color: #2196f3;"
                        class="fas fa-angle-right"></i><span class="black-text">Workspace</span></a>
                <div class="collapsible-body">
                    <ul>
                        <ul class="collapsible collapsible-accordion">
                            <li id="level2">
                                <a class="collapsible-header waves-effect waves-blue"><i id="expand2"
                                        style="color: #2196f3;" class="fas fa-angle-right"></i><span
                                        class="grey-text text-darken-1">Voting Management</span></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a class="waves-effect waves-blue"
                                                href="/users/voting/unpublished/create"><span style="margin-left: 56px;"
                                                    class="light-blue-text text-darken-1"><i class="fas fa-edit"></i>
                                                    Voting Creator</span></a>
                                        </li>
                                        <li>
                                            <a class="waves-effect waves-blue" href="/users/voting/unpublished"><span
                                                    style="margin-left: 56px;" class="light-blue-text text-darken-1"><i
                                                        class="fas fa-lock"></i>&nbsp;
                                                    Unpublished Voting</span></a>
                                        </li>
                                        <li>
                                            <a class="waves-effect waves-blue" href="/users/voting/published"><span
                                                    style="margin-left: 54px;" class="light-blue-text text-darken-1"><i
                                                        class="far fa-paper-plane"></i>&nbsp;
                                                    Published Voting</span></a>
                                        </li>
                                        <li>
                                            <a class="waves-effect waves-blue" href="/users/voting/preparing"><span
                                                    style="margin-left: 58px;" class="light-blue-text text-darken-1"><i
                                                        class="far fa-hourglass"></i>&nbsp;
                                                    Voting In Preparation</span></a>
                                        </li>
                                        <li>
                                            <a class="waves-effect waves-blue" href="/users/voting/initiating"><span
                                                    style="margin-left: 52px;" class="light-blue-text text-darken-1"><i
                                                        class="fas fa-hands-helping"></i>&nbsp;
                                                    Initiating Voting</span></a>
                                        </li>
                                        <li>
                                            <a class="waves-effect waves-blue" href="/users/voting/expired"><span
                                                    style="margin-left: 52px;" class="light-blue-text text-darken-1"><i
                                                        class="fas fa-tasks"></i>&nbsp;
                                                    Expired Voting</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li id="level2">
                                <a class="collapsible-header waves-effect waves-blue"><i id="expand2"
                                        style="color: #2196f3;" class="fas fa-angle-right"></i><span
                                        class="grey-text text-darken-1">Survey Management</span></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a class="waves-effect waves-blue"
                                                href="/users/surveys/question/create"><span style="margin-left: 56px;"
                                                    class="light-blue-text text-darken-1"><i
                                                        class="fas fa-pen-fancy"></i>
                                                    Question Creator</span></a>
                                        </li>
                                        <li>
                                            <a class="waves-effect waves-blue"
                                                href="/users/surveys/unpublished/create"><span
                                                    style="margin-left: 56px;" class="light-blue-text text-darken-1"><i
                                                        class="fas fa-edit"></i>
                                                    Survey Creator</span></a>
                                        </li>
                                        <li>
                                            <a class="waves-effect waves-blue" href="/users/surveys/question"><span
                                                    style="margin-left: 56px;" class="light-blue-text text-darken-1"><i
                                                        class="fas fa-book"></i>&nbsp;
                                                    Question Bank</span></a>
                                        </li>
                                        <li>
                                            <a class="waves-effect waves-blue" href="/users/surveys/unpublished"><span
                                                    style="margin-left: 56px;" class="light-blue-text text-darken-1"><i
                                                        class="fas fa-lock"></i>&nbsp;
                                                    Unpublished Survey</span></a>
                                        </li>
                                        <li>
                                            <a class="waves-effect waves-blue" href="/users/surveys/published"><span
                                                    style="margin-left: 54px;" class="light-blue-text text-darken-1"><i
                                                        class="far fa-paper-plane"></i>&nbsp;
                                                    Published Survey</span></a>
                                        </li>
                                        <li>
                                            <a class="waves-effect waves-blue" href="/users/surveys/preparing"><span
                                                    style="margin-left: 58px;" class="light-blue-text text-darken-1"><i
                                                        class="far fa-hourglass"></i>&nbsp;
                                                    Survey In Preparation</span></a>
                                        </li>
                                        <li>
                                            <a class="waves-effect waves-blue" href="/users/surveys/initiating"><span
                                                    style="margin-left: 52px;" class="light-blue-text text-darken-1"><i
                                                        class="fas fa-hands-helping"></i>&nbsp;
                                                    Initiating Survey</span></a>
                                        </li>
                                        <li>
                                            <a class="waves-effect waves-blue" href="/users/surveys/expired"><span
                                                    style="margin-left: 52px;" class="light-blue-text text-darken-1"><i
                                                        class="fas fa-tasks"></i>&nbsp;
                                                    Expired Survey</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </ul>
                </div>
            </li>
        </ul>
        <li>
            <div class="divider"></div>
        </li>
        <ul class="collapsible collapsible-accordion">
            <li id="level1">
                <a class="collapsible-header waves-effect waves-blue"><i id="expand1" style="color: #2196f3;"
                        class="fas fa-angle-right"></i><span class="black-text">Community</span></a>
                <div class="collapsible-body">
                    <ul>
                        <ul class="collapsible collapsible-accordion">
                            <li id="level2">
                                <a class="collapsible-header waves-effect waves-blue"><i id="expand2"
                                        style="color: #2196f3;" class="fas fa-angle-right"></i><span
                                        class="grey-text text-darken-1">Groups</span></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a class="waves-effect waves-blue" href="/community/groups/create"><span
                                                    style="margin-left: 56px;" class="light-blue-text text-darken-1"><i
                                                        class="fas fa-edit"></i>
                                                    Group Creator</span></a>
                                        </li>
                                        <li>
                                            <a class="waves-effect waves-blue" href="/community/groups/join"><span
                                                    style="margin-left: 54px;" class="light-blue-text text-darken-1"><i
                                                        class="fas fa-user-plus"></i>&nbsp;
                                                    Join A Group</span></a>
                                        </li>
                                        <li>
                                            <a class="waves-effect waves-blue" href="/community/groups"><span
                                                    style="margin-left: 52px;" class="light-blue-text text-darken-1"><i
                                                        class="fas fa-users"></i>&nbsp;
                                                    My Groups</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li id="level2">
                                <a class="collapsible-header waves-effect waves-blue"><i id="expand2"
                                        style="color: #2196f3;" class="fas fa-angle-right"></i><span
                                        class="grey-text text-darken-1">Topics</span></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a class="waves-effect waves-blue" href="/community/topics/create"><span
                                                    style="margin-left: 56px;" class="light-blue-text text-darken-1"><i
                                                        class="fas fa-edit"></i>
                                                    Topic Creator</span></a>
                                        </li>
                                        <li>
                                            <a class="waves-effect waves-blue" href="/community/topics"><span
                                                    style="margin-left: 54px;" class="light-blue-text text-darken-1"><i
                                                        class="fas fa-search"></i>&nbsp;
                                                    Explore Topics</span></a>
                                        </li>
                                        <li>
                                            <a class="waves-effect waves-blue" href="/community/topics/mytopics"><span
                                                    style="margin-left: 56px;" class="light-blue-text text-darken-1"><i
                                                        class="far fa-bookmark"></i>&nbsp;
                                                    My Topics</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </ul>
                </div>
            </li>
        </ul>
        <li>
            <div class="divider"></div>
        </li>
        <li style="margin-top: 20px;">
            <a class="waves-effect waves-blue center" href="/users/logout"><span
                    class="light-blue-text text-darken-1"><i class="fas fa-sign-out-alt"></i> Logout</span></a>
        </li>
    </ul>
</ul>