<header>
    <nav class="white z-depth-0" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/users/dashboard" class="brand-logo center blue-text text-lighten-1 hide-on-med-and-down"><i class="fas fa-home"></i>Dashboard</a>
            
            <a href="/" data-target="slide-out" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
        </div>
    </nav>
</header>
<div class="divider"></div>