<header>
    <nav class="white z-depth-0" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" class="brand-logo center light-blue-text text-darken-1 hide-on-med-and-down">{{truncate voting.votingTitle 32}}</a>
        </div>
    </nav>
</header>
<div class="divider"></div>