<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voting</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/dist/jiff-client.js"></script>
    <script type="text/javascript" src="/assets/javascripts/mpcVoting/handler.js"></script>
    <script type="text/javascript" src="/assets/javascripts/mpcVoting/mpc.js"></script>
    <script type="text/javascript" src="/assets/javascripts/mpcVoting/addOptions.js"></script>
</head>
<body>
    {{{body}}}  
</body>
</html>