<main>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="card white hoverable">
                    <div class="card-content">
                        <h3 class="center blue-text text-lighten-1"><i class="fas fa-user-plus"></i>&nbsp; Join A Group
                        </h3></br>
                        <div class="message_area row">
                            {{#if flash_success_message}}
                            <div class="success_msg">
                                <span class="closebtn-s"
                                    onclick="this.parentElement.style.display='none';">&times;</span>
                                {{flash_success_message}}
                            </div>
                            {{/if}}
                            {{#if flash_error_message}}
                            <div class="error_msg">
                                <span class="closebtn-e"
                                    onclick="this.parentElement.style.display='none';">&times;</span>
                                {{flash_error_message}}
                            </div>
                            {{/if}}
                        </div>
                        <form id="group_join" action="/community/groups/join" method="POST">
                            <div class="input-field col s12">
                                <input placeholder="Please enter here ..." type="email" id="creatorEmail"
                                    name="creatorEmail" required>
                                <label for="creatorEmail">Inviter E-Mail Address</label>
                            </div>
                            <div class="input-field col s12">
                                <input placeholder="Please enter here ..." type="text" id="groupName" name="groupName"
                                    required>
                                <label for="creatorEmail">Group Name</label>
                            </div>
                            <div class="input-field col s12">
                                <input placeholder="Please enter here ..." type="password" id="groupToken"
                                    name="grouptoken" data-length="30" required>
                                <label for="grouptoken">Group Token</label>
                            </div>
                            <div class="row col s12">
                                <!-- Add a blank line -->
                            </div>
                            <div class="row col s12">
                                <!-- Add a blank line -->
                            </div>
                            <div class="row center">
                                <div class="col s6">
                                    <a href="/community/groups" id="auth-cancel-button"
                                        class="btn waves-effect waves-light blue lighten-1"><strong>Cancel</strong></a>
                                </div>
                                <div class="col s6">
                                    <button class="btn waves-effect waves-light blue lighten-1" id="submit"
                                        type="submit"><strong>Submit</strong></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
    </div>
</main>