<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text text-lighten-1">Welcome to Orca MPC</h1>
      <div class="row center">
        <h5 class="header col s12 white-text text-white">A voting and survey web application based on Secure Multi-Party
          Computation (MPC)</h5>
      </div>
      <div class="row center">
        <h6 class="header col s12 white-text text-white"></h6>
        <a href="/register" id="register-button" class="btn-large waves-effect waves-light blue lighten-1"><strong>Get
            Started</strong></a>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="assets/images/app/bg1.jpg" alt="unsplashed background 1"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text text-lighten-1"><i class="fas fa-user-shield"></i></h2>
          <h5 class="center blue-text text-lighten-1">Privacy Inputs Protection</h5>

          <p class="light" style="text-align:justify">Secure Multi-Party Computation (MPC) is a technique which allows
            multiple parties
            compute the output of a function collectively without revealing any private inputs of these parties to
            anyone.
            By using this technique, users are able to truthfully participate in voting or survey without any concern and thus can
            obtain
            more objective and credible computation results.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text text-lighten-1"><i class="fas fa-id-card"></i></h2>
          <h5 class="center blue-text text-lighten-1">Authentication and Authorization</h5>

          <p class="light" style="text-align:justify">Security is the most important part of this application. Reliable
            user
            authentication mechanism makes sure only authenticated users can participate in the voting or survey.
            Reasonable
            user authority system help reduce the security risks caused by malicious users.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text text-lighten-1"><i class="fas fa-user-friends"></i></h2>
          <h5 class="center blue-text text-lighten-1">Community-Based Design</h5>

          <p class="light" style="text-align:justify">Community-based design allows users participate in voting or
            survey
            in a group or under a topic. Therefore, users are able to discuss topics of interests with friends,
            colleagues or
            even strangers under a secure circumstance.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 white-text text-white">A more secure way to participate in voting and survey</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/images/app/bg2.jpg" alt="unsplashed background 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h2 class="center blue-text text-lighten-1"><i class="fas fa-book"></i></h2>
        <h5 class="center blue-text text-lighten-1">Learn More about MPC</h5>
        <p class="light" style="text-align:justify">A simple explanation: Alice, Bob and Carol want to compute the
          average salary among them,
          but they don't want to reveal their own salary to each other and they also don't want to tell their own salary
          to another trusted person
          to compute. Fortunately, there could be a method to solve this problem. Assume that Alice's salary is 20,
          Bob's is 30 and Carol's is 50. Firstly,
          they all split their salary to three shares randomly. For example, Alice split her salary to "-16, 19, 17".
          Next, they give two of his/her
          shares to another two persons. For example, Alice gives "-16" to Bob and "17" to Carol. Then, they all can
          compute a new number of themselves that
          has no relation with their own salary. Finally, they can share this number to each other and then compute the
          average salary without revealing
          anyone's salary.
        </p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 white-text text-white">A more trusty way to obtain statistical results</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/images/app/bg3.jpg" alt="unsplashed background 3"></div>
</div>