<main>
    <div class="container">
    <div class="error_img center"><img src="/assets/images/app/OrcaMPC_Logo.jpg" title="Orca MPC Home"></div>
    <div class="row col s12 center"><h5 class="blue-text text-lighten-1"><strong>Error 404: Page Not Found</strong></h5></div>
    </div>
</main>