<main>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="container">
        <div class="card white">
            <h3 style="padding-top: 35px;" class="light-blue-text text-darken-2 center"><i class="fas fa-edit"></i>
                Voting Editor</h3><br />
            <div class="divider"></div>
            <div class="card-content">
                <div class="col s12">
                    <p><span class="red-text"><strong>All</strong></span> fields are required</p><br />
                </div>
                <div class="reopen_form">
                    <form id="voting_reopen" action="/users/voting/expired/reopen" method="POST">
                        <input type="hidden" id="votingid" name="votingid" value={{voting._id}} required>
                        <div class="input-field">
                            <input placeholder="Please select the date here ..." type="text" id="estimatedDate"
                                name="estimatedDate" class="datepicker validate" required>
                            <label for="estimatedDate">New Voting Date</label>
                            <span class="helper-text" data-error="Please select the date"
                                data-success="Date selected"></span>
                        </div><br /><br />
                        <div class="input-field">
                            <input placeholder="Please select the time here ..." type="text" id="estimatedTime"
                                name="estimatedTime" class="timepicker validate" required>
                            <label for="estimatedTime">New Voting Time</label>
                            <span class="helper-text" data-error="Please select the time"
                                data-success="Time selected"></span>
                        </div><br /><br />
                        <div class="input-field">
                            <select id="estimatedDuration" name="estimatedDuration" required>
                                <option value="" disabled selected>Please select here ...</option>
                                <option value="15">15 Minutes</option>
                                <option value="30">30 Minutes</option>
                                <option value="45">45 Minutes</option>
                                <option value="60">60 Minutes</option>
                            </select>
                            <label for="estimatedDuration">New Voting Duration</label>
                        </div><br /><br /><br />
                        <div class="input-field">
                            <textarea placeholder="50 - 200 characters and no special characters (e.g. @, # and $)"
                                type="text" data-length="200" id="reopenReason" name="reopenreason"
                                onblur="checkReason1()" onfocus="checkReason1()" onchange="checkReason1()"
                                class="materialize-textarea validate" required></textarea>
                            <label for="reopenreason">Reason of Reopening</label>
                            <span class="helper-text" data-error="Please fill in this field or check your input"
                                data-success="Input finished"></span>
                        </div>
                        <div class="row col s12">
                            <!-- Add a blank line -->
                        </div>
                        <div class="row col s12">
                            <!-- Add a blank line -->
                        </div>
                        <div class="row center">
                            <div class="col s6">
                                <a href="#modal1" id="expired-cancel-button"
                                    class="waves-effect waves-light blue lighten-1 btn modal-trigger"><strong>Cancel</strong></a>
                            </div>
                            <div class="col s6">
                                <a href="#modal2" id="expired-reopen-button"
                                    class="waves-effect waves-light blue lighten-1 btn modal-trigger"
                                    disabled><strong>Submit</strong></a>
                            </div>
                            <div id="modal1" class="modal">
                                <div class="modal-content">
                                    <h4 class="light-blue-text text-darken-2 center">Cancel Reopening</h4><br />
                                    <h6 class="light-blue-text text-darken-2 center"><strong>Are you sure to cancel
                                            reopening this voting? Please be informed that your work won't be
                                            saved.</strong></h6>
                                </div>
                                <div class="divider"></div>
                                <div class="modal-footer">
                                    <div class="col s6">
                                        <a href="#"
                                            class="modal-close waves-effect waves-red btn-flat"><strong>No</strong></a>
                                    </div>
                                    <div class="col s6">
                                        <a href="/users/voting/expired/view/{{voting._id}}"
                                            class="modal-close waves-effect waves-green btn-flat"><strong>Yes</strong></a>
                                    </div>
                                </div>
                            </div>
                            <div id="modal2" class="modal">
                                <div class="modal-content">
                                    <h4 class="light-blue-text text-darken-2 center">Confirm Reopening</h4><br />
                                    <h6 class="light-blue-text text-darken-2 center"><strong>Are you sure to reopen this
                                            voting? Please enter your password to confirm.</strong></h6>
                                    <br /><br />
                                    <div class="row">
                                        <div class="input-field col s6 offset-s3">
                                            <input placeholder="Please enter here ..." type="password" data-length="100"
                                                id="password_check1" name="password" onblur="checkPwd1()"
                                                onfocus="checkPwd1()" onchange="checkPwd1()" required>
                                            <label for="password">Password</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="divider"></div>
                                <div class="modal-footer">
                                    <div class="col s6">
                                        <a href="#"
                                            class="modal-close waves-effect waves-red btn-flat"><strong>No</strong></a>
                                    </div>
                                    <div class="col s6">
                                        <button class="modal-close waves-effect waves-green btn-flat"
                                            id="reopen-submit-button" type="submit"
                                            disabled><strong>Yes</strong></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row col s12">
                        <!-- Add a blank line -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
</main>