<main>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="card white">
                    <h3 style="padding-top: 35px;" class="center light-blue-text text-darken-2"><i
                            class="fas fa-user-circle"></i> Customize Avatar</h3>
                    </br>
                    <div class="message_area" style="margin-left: 10px; margin-right: 10px;">
                        {{#if flash_success_message}}
                        <div class="success_msg">
                            <span class="closebtn-s" onclick="this.parentElement.style.display='none';">&times;</span>
                            {{flash_success_message}}
                        </div>
                        {{/if}}
                        {{#if flash_error_message}}
                        <div class="error_msg">
                            <span class="closebtn-e" onclick="this.parentElement.style.display='none';">&times;</span>
                            {{flash_error_message}}
                        </div>
                        {{/if}}
                    </div>
                    <div class="divider"></div>
                    <div class="card-content">
                        <div id="currentavatar" class="center">
                            <h6 class="light-blue-text text-darken-2"><strong>Current Avatar</strong></h6><br />
                            <img class="circle" src="{{avatar}}" style="height: 300px; width: 300px;">
                        </div><br /><br /><br />
                        <form id="uploadavatar" action="/users/myprofile/upload" method="POST" enctype="multipart/form-data">
                            <div class="file-field input-field">
                                <div class="btn waves-effect waves-light blue lighten-1" style="margin-top: 16px;">
                                    <span><i class="fas fa-upload"></i></span>
                                    <input name="myAvatar" type="file" required>
                                </div>
                                <div class="file-path-wrapper">
                                    <label for="avatarpath">New Avatar</label>
                                    <input class="file-path" type="text" id="avatarpath" name="avatarpath"
                                        placeholder="Please upload an image which is no larger than 1MB (Only JPEG, JPG and PNG allowed)"
                                        disabled>
                                </div>
                            </div><br /><br /><br />
                            <div class="row center">
                                <div class="col s6">
                                    <a href="#modal1" id="cancel-button"
                                        class="waves-effect waves-light blue lighten-1 btn modal-trigger"><strong>Cancel</strong></a>
                                </div>
                                <div class="col s6">
                                    <a href="#modal2" id="avatar-upload-button"
                                        onclick="checkImage()" class="waves-effect waves-light blue lighten-1 btn modal-trigger"><strong>Submit</strong></a>
                                </div>
                                <div id="modal1" class="modal">
                                    <div class="modal-content">
                                        <h4 class="light-blue-text text-darken-2 center">Cancel Upload</h4><br />
                                        <h6 class="light-blue-text text-darken-2 center"><strong>Are you sure to cancel
                                                the upload? Please be informed that your work won't be saved.</strong>
                                        </h6>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="modal-footer">
                                        <div class="col s6">
                                            <a href="#"
                                                class="modal-close waves-effect waves-red btn-flat"><strong>No</strong></a>
                                        </div>
                                        <div class="col s6">
                                            <a href="/users/myprofile"
                                                class="modal-close waves-effect waves-green btn-flat"><strong>Yes</strong></a>
                                        </div>
                                    </div>
                                </div>
                                <div id="modal2" class="modal">
                                    <div class="modal-content">
                                        <h4 class="light-blue-text text-darken-2 center">Confirm Upload</h4><br />
                                        <h6 class="light-blue-text text-darken-2 center"><strong>Are you sure to upload
                                                this image as your new avatar? Please confirm it again.</strong></h6>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="modal-footer">
                                        <div class="col s6">
                                            <a href="#"
                                                class="modal-close waves-effect waves-red btn-flat"><strong>No</strong></a>
                                        </div>
                                        <div class="col s6">
                                            <button class="modal-close waves-effect waves-green btn-flat" id="upload-submit-button"
                                                type="submit" disabled><strong>Yes</strong></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
    </div>
</main>