<h1>Welcome to Voting</h1>
<h3>Welcome {{username}}</h3>
    <h1>Connect JIFF</h1>
    <button id="connectButton" onclick="connect();">Connect</button>
    <br/><br/>
    <hr/>
    <h1>Vote for the best friend.</h1>
    <label><input type="radio" name="animal"/> spikey boi</label> &nbsp; <span id="res0"></span><br/>
    <label><input type="radio" name="animal"/> water pancake</label> &nbsp; <span id="res1"></span><br/>
    <label><input type="radio" name="animal"/>concerned pinecone</label> &nbsp; <span id="res2"></span><br/>
    <label><input type="radio" name="animal"/>bouncy mcfluffybum</label> &nbsp; <span id="res3"></span><br/>
    <br/>
    <button onclick="submit();" disabled="disabled" id="button">Vote</button><br/>
    <div id="output"></div>
<a href="/users/dashboard">Dashboard</a>
<a href="/users/logout">Log Out</a>